<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.obsqura.testScripts.Listeners"></listener>
	</listeners>
  <parameter name="browser" value="Chrome"></parameter>
  <parameter name="offercode" value="TRYNEW20"></parameter>
  
   <test thread-count="5" name="Test">
    <classes>
   	  <class name="com.obsqura.testScripts.AdminUsersTest"/>
      <class name="com.obsqura.testScripts.LoginTest"/>
      <class name="com.obsqura.testScripts.ManagepageTest"/>
      <class name="com.obsqura.testScripts.ManageSliderTest"/>
      <class name="com.obsqura.testScripts.ManageExpenseTest"/>
      <class name="com.obsqura.testScripts.ManageOfferCodeTest"/>
      <class name="com.obsqura.testScripts.ManageNewsTest"/>
      <class name="com.obsqura.testScripts.PushNotificationsTest"/>
      <class name="com.obsqura.testScripts.ManagePaymentMethodTest"/>
      <class name="com.obsqura.testScripts.ManageUsersTest"/>
      <class name="com.obsqura.testScripts.ManageDeliveryBoyTest"/>
      <class name="com.obsqura.testScripts.ManageLocationTest"/>
      <class name="com.obsqura.testScripts.ManageProductTest"/>
      <class name="com.obsqura.testScripts.CategoryTest"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->