<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" >
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.obsqura.maven.testscripts.RadioButtonsDemoTest">
		  <methods>
			  <include name="radioButtonsDemoTest"/>
			  <include name="verify_showSelectedValueButtonFontColor"/>
			  <include name="verify_showSelectedValueButtonTextAlignment"/>
			 <!--  <exclude name="radioButtonsDemoTest"/>-->
		 </methods>
      </class>
      <class name="com.obsqura.maven.testscripts.SimpleInputFormDemoTest">
		  <methods>
			 <include name="verify_singleInputField"/>
			 <include name="verify_showMessageButtonText"/>
			 <include name="verify_SingleInputFieldTextBoxtagname"/>
		  </methods>
		  </class>
      <class name="com.obsqura.maven.testscripts.CheckBoxDemoTest">
		  <methods>
			  <include name="verify_SingleInputCheckBox"/>
			  <include name="verify_selectAllButtonBackgroundColor"/>
			  <include name="verify_attributevalueofSelectAllButton"/>
		  </methods>
	 </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
